html{
  background-color: rgb(255, 240, 240, 100);
}

div#contenedor{

}

div#cabezal{
  background-color: rgb(224, 190, 190, 95);
  width: screen.width;
  height: 110px;
  margin-top: -20px;
}
div#selector{
  margin-top: -50px;
}

div#platillos{

  width: 75%;
  height: 450px;
}

div#promociones{
  width: 25%;
  height: 450px;
  margin-top: -469px;
  margin-left: 1415px;
  border-left: 2px solid rgb(180,224,205,88);
  border-right: 2px solid rgb(180,224,205,88);
}

div#frituras{
  width: 50%;
  height: 300px;
}

div#postres{
  width: 50%;
  height: 300px;
  margin-top: -304px;
  margin-left: 50%;
  border-left: 2px solid rgb(180,224,205,88);
}

div#bebidas{
  width: 100%;
  height: 200px;
}


td.selector{
  padding: 15px;
}

td.selector:hover{
  color:white
}

div#contacto{
  background-color: white;
  height: 100px;
  margin-top: -18px;
}

img.foto{ /*Clases con punto, id con #*/
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 1px solid #000000;
}

div#ubicacion{
  margin-top: -120px;
  margin-left: 50px;
}

img.menu{
  width: 150px;
  height: 150px;
  border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 1px solid rgb(180,224,205,88);
}

/*table.platillos{
  border-spacing: 200px;
}*/
td.descripcion{
  width: 350px;
}

p{
  text-align: justify;
}

p:hover{
  font-weight: bold;
}

div#banner{
  height: 50px;
  background-image: url("italiano/bandera.png");
  background-repeat: no-repeat;
  background-position: center;
}

img.logo{
  width: 100px;
  height: 100px;
  margin-top: -55px;
  margin-left: 500px
}
